Proyectos/ClienteOWCC/WebContent/WEB-INF/wsdl/beanExpediente/SUT_CO_CierreAperturaExpediente.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/cierreaperturaexpediente/v1"
  targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/cierreaperturaexpediente/v1"
  xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/cierreturno/v1"
  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/aperturaturno/v1"
  xmlns:bachue3="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/obtenerindiceelectronico/v1"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/cierreturno/v1" schemaLocation="schemas/business/CO_CAE_CierreTurno.xsd" />
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/aperturaturno/v1" schemaLocation="schemas/business/CO_CAE_AperturaTurno.xsd" />
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/cierreaperturaexpediente/obtenerindiceelectronico/v1" schemaLocation="schemas/business/CO_CAE_ObtenerIndiceElectronico.xsd" />
		</schema>
	</wsdl:types>

	<wsdl:message name="CierreTurno_Request">
		<wsdl:part name="entrada" element="bachue1:entradaCierreTurno"/>
	</wsdl:message>
	<wsdl:message name="CierreTurno_Response">
		<wsdl:part name="salida" element="bachue1:salidaCierreTurno"/>
	</wsdl:message>
	<wsdl:message name="AperturaTurno_Request">
		<wsdl:part name="entrada" element="bachue2:entradaAperturaTurno"/>
	</wsdl:message>
	<wsdl:message name="AperturaTurno_Response">
		<wsdl:part name="salida" element="bachue2:salidaAperturaTurno"/>
	</wsdl:message>
	<wsdl:message name="ObtenerIndiceElectronico_Request">
		<wsdl:part name="entrada" element="bachue3:entradaObtenerIndiceElectronico"/>
	</wsdl:message>
	<wsdl:message name="ObtenerIndiceElectronico_Response">
		<wsdl:part name="salida" element="bachue3:salidaObtenerIndiceElectronico"/>
	</wsdl:message>

	<wsdl:portType name="SUT_CO_CierreAperturaExpediente">
		<wsdl:operation name="CierreTurno">
			<wsdl:input message="bachue:CierreTurno_Request"/>
			<wsdl:output message="bachue:CierreTurno_Response"/>
		</wsdl:operation>
		<wsdl:operation name="AperturaTurno">
			<wsdl:input message="bachue:AperturaTurno_Request"/>
			<wsdl:output message="bachue:AperturaTurno_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerIndiceElectronico">
			<wsdl:input message="bachue:ObtenerIndiceElectronico_Request"/>
			<wsdl:output message="bachue:ObtenerIndiceElectronico_Response"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="SUT_CO_CierreAperturaExpedienteSOAP12Binding" type="bachue:SUT_CO_CierreAperturaExpediente">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="CierreTurno">
   <soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/co/cierreaperturaexpediente/v1/CierreTurno"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="AperturaTurno">
   <soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/co/cierreaperturaexpediente/v1/AperturaTurno"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ObtenerIndiceElectronico">
   <soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/co/cierreaperturaexpediente/v1/ObtenerIndiceElectronico"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="SUT_CO_CierreAperturaExpediente">
  <wsdl:port name="SUT_CO_CierreAperturaExpedientePort" binding="bachue:SUT_CO_CierreAperturaExpedienteSOAP12Binding">
   <soap12:address location="http://www.example.com"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>