Proyectos/ClienteOWCC/WebContent/WEB-INF/wsdl/beanBuscar/BS_SUT_CO_BusquedaDocumentos.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:bachue="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1"
  targetNamespace="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1"
  xmlns:bachue1="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/consultar/v1"
  xmlns:bachue2="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/obtenerarchivo/v1"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/consultar/v1" schemaLocation="schemas/Legacy/CO_BD_Consultar.xsd" />
			<import namespace="https://www.supernotariado.gov.co/schemas/bachue/co/busquedadocumentos/obtenerarchivo/v1" schemaLocation="schemas/Legacy/CO_BD_ObtenerArchivo.xsd" />
		</schema>
	</wsdl:types>

	<wsdl:message name="Consultar_Request">
		<wsdl:part name="entrada" element="bachue1:entradaConsultar"/>
	</wsdl:message>
	<wsdl:message name="Consultar_Response">
		<wsdl:part name="salida" element="bachue1:salidaConsultar"/>
	</wsdl:message>
	<wsdl:message name="ObtenerArchivo_Request">
		<wsdl:part name="entrada" element="bachue2:entradaObtenerArchivo"/>
	</wsdl:message>
	<wsdl:message name="ObtenerArchivo_Response">
		<wsdl:part name="salida" element="bachue2:salidaObtenerArchivo"/>
	</wsdl:message>

	<wsdl:portType name="SUT_CO_BusquedaDocumentos">
		<wsdl:operation name="Consultar">
			<wsdl:input message="bachue:Consultar_Request"/>
			<wsdl:output message="bachue:Consultar_Response"/>
		</wsdl:operation>
		<wsdl:operation name="ObtenerArchivo">
			<wsdl:input message="bachue:ObtenerArchivo_Request"/>
			<wsdl:output message="bachue:ObtenerArchivo_Response"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="SUT_CO_BusquedaDocumentosSOAP12Binding" type="bachue:SUT_CO_BusquedaDocumentos">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="Consultar">
   <soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1/Consultar"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ObtenerArchivo">
   <soap12:operation style="document"
                     soapAction="https://www.supernotariado.gov.co/services/bachue/co/busquedadocumentos/v1/ObtenerArchivo"/>
   <wsdl:input>
    <soap12:body use="literal" parts="entrada"/>
   </wsdl:input>
   <wsdl:output>
    <soap12:body use="literal" parts="salida"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="SUT_CO_BusquedaDocumentos">
  <wsdl:port name="SUT_CO_BusquedaDocumentosPort" binding="bachue:SUT_CO_BusquedaDocumentosSOAP12Binding">
   <soap12:address location="http://www.example.com"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>